.first-img{
  width:100%;
  height:32vw;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0) 25%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.25) 50%,
      rgba(255, 255, 255, 0.75) 75%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("../img/Mask group.png");
    background-size: cover;
}
.nav-list{
  z-index: 999999999999;
}
header{
  z-index: 999999999999;
}
.in-img{
  width:100%;
  height:600px;
  position: absolute;
}

.first-img-text{
  font-size: 2.3vw;
  font-weight: 900;
    padding-left: 14.5%;
    padding-top: 21%;
    position:relative;
}

.blank{
    width: 100%;
    height:13vw;
     
}
.content{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -5000000000;
}

.video{
    width:70%;
    overflow: hidden;
}
video{
  width: 100%;
}
.blank-2{
    width: 100%;
    height:20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.blank-2-text{
  font-size: 2vw;
}
.img-wrap{
    width:80vw;
    height:30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-wrap-inner{
    width:17vw;
    height:30vw;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 3px 12px #999;
}
.inner1{
  background-image: url("../img/home-img-list/Rectangle\ 36.png");
  background-size: cover;
}
.inner2{
  background-image: url("../img/home-img-list/Rectangle 33.png");
  background-size: cover;
}
.inner3{
  background-image: url("../img/home-img-list/Rectangle 34.png");
  background-size: cover;
}
.inner4{
  background-image: url("../img/home-img-list/Rectangle 35.png");
  background-size: cover;
}
.img-wrap-inner:hover{
    width:20vw;
    height:31vw;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    box-shadow: 3px 3px 12px #999;
}
.img-wrap-inner:after{
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
  
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}
.img-wrap-inner:hover:after{
    opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}
.img-wrap-inner:active:after{
    opacity: 0;
}
.map-content{
    width:60vw;
    height:35vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.map>iframe{
    width:30vw;
    height:30vw;
}

.map-text{
    width:50vw;
    height:30vw;
    font-size: 1vw;
    padding-left: 20px;
}
/* footer */
.footer {
    width: 100%; /* 넓이를 100%로 채우기 반응형 */
    background-color: white;
    padding: 10px 90px;
  }
  
  .contain {
    margin-left: 6vw;
    display: flex;
    justify-content: space-between;  
  }
  
  .footer .col {
    align-items: center;
    float: left;
    column-gap: 40px; /*글자사이의 거리 */
  }
  
  .footer .col .social {
    float: left;
  }
  
  .footer .col h1 {
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: #000;
    /* footer 소제목 글씨 모양 */
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }
  
  .footer .col ul {
    list-style-type: none; /* • 모양 없애기 */
  }
  
  .footer .col ul li {
    color: #000;
    font-size: 0.5vw;
    /*글자사이의 간격*/
    padding: 6px 0px 6px 0px; 
    cursor: pointer; /*cursor 마우스 커서 모양 뜨기 */
    /*마우스 커서 시 색상 변하는 속도 조절 */
    transition: 0.2s; 
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
  }
  
  .social ul li {
    display: inline-block;
  }
   
  i {
    font-size: 1.1rem;
  }
  /*마우스커서 올릴 시 글자의 색상이 변함 */
  .footer .col ul li:hover {
    color: darkslateblue;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
  }
  
  /*마우스커서 올릴 시 글자의 색상이 변함 */
  .social ul li img :hover {
    color: #fff;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
  }
  
  .clearfix {
    clear: both;
  }

  @media screen and (max-width: 680px){
    .map-content{
      height:fit-content;
      display: block;
      justify-content: center;
    }
    .map{
      padding: 0;
      /* margin-left:3%; */
      align-items: center;
    }
    .map-text{
      padding: 2vw 0 5vw 0;
      height: fit-content;
    }
    .content{
      height:fit-content;
    }
    .map>iframe{
      width:60vw;
      height:60vw;
  }
  .

}