
.box {
  width: 10rem;
  height: 10rem;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #febf00;
  transition: .4s;
  
}

.box.active {
  width: 20rem;
  background: #f03d3d;
  color: #fff;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  font-family: Pretendard;
}