/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* base */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html,body{ overflow-x: hidden; }
ul {
    list-style: none;
}
a{
    text-decoration-line: none;
}

body{
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: rgb(19, 19, 19);
}

p{
    font-size: 1em;
}

b{
    margin-left: 150px;
}
/* nav */
.container {
    margin-left: 1rem;
    margin-right: 1rem;
}

header{
    background-color: #000000;
}

nav {
    height: 44px; /* nav글자 높이 */
    /* 수평배열 */
    display: flex;
    justify-content: flex-end;
    align-items: center; /* nav글자 중앙정렬 */
}

nav a {
    color: #fff;
    font-size: 0.8rem; /* 글자 크기*/
}
    
.nav-toggle {
    /* toggle버튼이 보이지 않도록  */
    display: none;
    /* visibility: hidden; */
}

.nav-toggle i{
    color:#fff;
}

.nav-toggle {
    /* toggle버튼이 보이지 않도록  */
    display: none;
    /* visibility: hidden; */
}

.nav-toggle i{
    color:#fff;
}

.nav-list {
    /* 수평배열 */
    display: flex;
    column-gap: 5rem; /* 12px = nav글자사이의 거리 */
    margin-right: 100px;
}

.nav-link {
    display: block; /* a 태그가 한 줄 전체를 차지해서 링크가 동작하도록... */
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    text-align: center;
    background-color: #fff;
    color: #000;
    border-radius: 0.5rem;
}

.nav-list .nav-item:nth-child(2){
    text-align: center;
    background-color: #fff;
    color: #000;
    border-radius: 0.5rem;
}

.nav-item:nth-child(2) .nav-link{
  color: black;
}

.first-img{
  height: 28vw;
  width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.484), rgba(0, 0, 0, 0.516) ),
    url("../이미지/introimg.jpg");
    background-size: cover;
}
.intro-text > pre{
    color: #fff;
    font-size: 1.2vw;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 배너 글 */
#title_text{
    text-align: center;
    font-size: 2.2vw;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.text{
  margin: 0 auto;
  font-size: 2.4vw;
  text-align: center;
  display: inline; 
  vertical-align: middle;
  border-right: .05em solid black;
  animation:  cursor 0.2s ease infinite;
}

/* card */
.card {
  width: 50vw;
  height: 25vw;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
  display: flex;
  margin:0 auto;
}
.card p{
  text-align: center;
  margin-top: 10px;
  font-size: 2.5vw;
}
.card pre{
  float: right;
  margin-top: 10px;
  font-size: 1.5vw;
}
.card h1{
  text-align: center;
  font-size: 3vw;
}

.card_h1{
  /* text-align: center; */
  float: right;
  font-size: 2.5vw;
}

.card1_img{
    float: right;
    max-width: 28vw;
    height: 8vw;
    margin-top: 50px;
}

.card .additional {
  position: absolute;
  width: 20vw;
  height: 100%;
  background-image: url("../이미지/intro_meat1.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card .additional2 {
  position: absolute;
  width: 20vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../이미지/intro_meat2.png");
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card .additional3 {
  position: absolute;
  width: 20vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../이미지/intro_meat3.png");
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card .additional4 {
  position: absolute;
  width: 20vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../이미지/intro_meat4.png");
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card_h1:hover{
  color: #1f247c;
}

.card .additional:hover{
  background-image: url('../이미지/logo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.card .additional2:hover{
  background-image: url('../이미지/logo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.card .additional3:hover{
  background-image: url('../이미지/logo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.card .additional4:hover{
  background-image: url('../이미지/logo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card .additional .more-info {
  width: 300px;
  position: absolute;
  left: 380px;
  height: 100%;
}

.card .additional2 .more-info {
  width: 300px;
  position: absolute;
  left: 380px;
  height: 100%;
}

.card .additional3 .more-info {
  width: 300px;
  position: absolute;
  left: 380px;
  height: 100%;
}

.card .additional4 .more-info {
  width: 300px;
  position: absolute;
  left: 380px;
  height: 100%;
}


.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
  margin-top: 50px;
}

.card .additional2 .more-info h1 {
  color: #fff;
  margin-bottom: 0;
  margin-top: 50px;
}

.card .additional3 .more-info h1 {
  color: #fff;
  margin-bottom: 0;
  margin-top: 50px;
}

.card .additional4 .more-info h1 {
  color: #fff;
  margin-bottom: 0;
  margin-top: 50px;
}

.card .additional .coords {
  margin: 0 1rem;
  margin-top: 50px;
  text-align: center;
  color: #000;
  font-weight: 200;
  background-color: #fff;
  font-size: 1.3rem;
}

.card .additional2 .coords {
  margin: 0 1rem;
  margin-top: 50px;
  text-align: center;
  color: #000;
  font-weight: 200;
  background-color: #fff;
  font-size: 1.3rem;
}

.card .additional3 .coords {
  margin: 0 1rem;
  margin-top: 50px;
  text-align: center;
  color: #000;
  font-weight: 200;
  background-color: #fff;
  font-size: 1.3rem;
}

.card .additional4 .coords {
  margin: 0 1rem;
  margin-top: 50px;
  text-align: center;
  color: #fff;
  font-size: 1rem;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional2 .coords span + span {
  float: right;
}

.card .additional3 .coords span + span {
  float: right;
}

.card .additional4 .coords span + span {
  float: right;
}


.card .general {
  margin-left: 20%;
  width: 55%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general h1 p{
  right: 20px;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.click{
  width: 20%;
  margin-top: 100%;
  margin-left: 80%;
}

/*intro 아래 내용*/
.intro_body_img{
    margin-top: -1rem;
    position:relative;
    margin-bottom: -2rem;
}

.intro_content{
    margin-left: -0.1vw;
    position:absolute;
    width: 1.5%;
    height: 50%;
    max-width: 10%;
    top: 24%;
    left: 50%;
}

.intro_main_img{
    margin-top: 15vw;
    display: flex;
    align-items: center;
    margin-right: 130px;
    margin-bottom: 5%;
    position: relative;
}

.intro_main_img2{
    display: flex;
    flex-direction : row-reverse;
    align-items: center;
    margin-left: 130px;
    margin-bottom: 10%;
}

.intro_main1{
    display: inline;
    float: left;
    max-width: 49.99vw;
    height: auto;
    margin-right: 20%;
}

.intro_main2{
    float: right;
    max-width:50vw;
    height: auto;
    margin-left: 20%;
}

.intro_main_t1{
    margin-bottom: 15px;
    font-size: 2.6vw;
    margin-top: 13px;
}

.intro_main_t1_2{
    margin-bottom: 15px;
    font-size: 2.6vw;
}

.intro_main_t2{
    font-size: 1.5vw;
    font-weight: 400;
}
/* carousel */
.carousel {
    margin:0 auto;
    position: relative;
    width: 50vw;
    height: 25vw; 
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    border-radius: 50%;
    color: rgb(214, 204, 204);
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #D9D9D9;
    cursor: pointer;
    display: block;
    font-size: 2.8vw;
}

.carousel-bullet:hover {
    color: #000;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet {
    color: #287eca;
}

.carousel{
  transition: all 0.2s linear;
}

.carousel:hover {
   transform: scale(1.2);
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

/* footer */
.footer {
  width: 100%; /* 넓이를 100%로 채우기 반응형 */
  background-color: white;
  padding: 10px 90px;
}

.contain {
  /* margin-left: 6vw; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;  
}

.footer .col {
  align-items: center;
  float: left;
  column-gap: 40px; /*글자사이의 거리 */
}

.footer .col .social {
  float: left;
}

.footer .col h1 {
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: #000;
  /* footer 소제목 글씨 모양 */
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.footer .col ul {
  list-style-type: none; /* • 모양 없애기 */
}

.footer .col ul li {
  color: #000;
  font-size: 0.8vw;
  /*글자사이의 간격*/
  padding: 6px 0px 6px 0px; 
  cursor: pointer; /*cursor 마우스 커서 모양 뜨기 */
  /*마우스 커서 시 색상 변하는 속도 조절 */
  transition: 0.2s; 
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}

.social ul li {
  display: inline-block;
}
 
i {
  font-size: 1.1rem;
}
/*마우스커서 올릴 시 글자의 색상이 변함 */
.footer .col ul li:hover {
  color: darkslateblue;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}

/*마우스커서 올릴 시 글자의 색상이 변함 */
.social ul li img :hover {
  color: #fff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}

.clearfix {
  clear: both;
}
    /* mobile  */
@media screen and (max-width: 720px){
    /* 햄버거 메뉴 보이게 하기 */
    .nav-toggle {
        display: block; /*nav-toggle 즉, 밥 아이콘 제일 앞으로 */
        position: absolute; /*nav-logo 가운데 정렬 */
        cursor: pointer; /* 마우스 포인터: 손 => 토글에 가져 가면 마우스 커서 생성*/ 
    }
    .nav-logo {
        /*밥 아이콘을 중앙 정렬 시켜서 아래에 있는 메뉴토글 버튼 보이게*/
        margin: 0 auto; /*가운데 정렬*/
    }
    /* nav의 글자 햄버거 메뉴 안으로 수직으로 flex 방향 바꾸기 */
    .nav-list {
        flex-direction: column; /*수직*/
        position: absolute; /* 원래 있던 자리의 (0,0)위치 */
        left: 0; /* 왼쪽 정렬 */
        right: 0; /* 넓이를 100%로 채움 */
        top: 44px; /* nav높이 -> top높이 부분을 nav아래로 맞춘다. */
        width: 100%;
        background-color: #2f2f2f;
        /* display: none; toggle 버튼이 안 보이게 하도록 toggle nav바가  */
        /* 영역에 넘쳐나가게 되면 아예 보이지 않게 감추는 것 */
        height: 0; /*overflow: hidden과 함께 메뉴 안 보이게 하자*/
        overflow: hidden;
        transition: 0.3s;
    }
    .nav-item{
        /* nav 메뉴 글자 사이의 위아래 여백 주기*/
        padding: 0.5rem 0;
        border-bottom: 1px solid #fff;
        text-align: center; /* 글자 가운데 정렬 */
    }
    .show-menu {
        height: 180px;
    }
    .card {
      width: 80vw;
      height: 45vw;
      background-color: #fff;
      background: linear-gradient(#f8f8f8, #fff);
      box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
      border-radius: 6px;
      overflow: hidden;
      position: relative;
      margin: 1.5rem;
      display: flex;
      margin:0 auto;
      margin-top: 45px;
    }

    .card .additional {
      position: absolute;
      width: 30vw;
      height: 100%;
      background-image: url(../이미지/intro_meat1.png);
      background-repeat: no-repeat;
      background-size: cover;
      transition: width 0.4s;
      overflow: hidden;
      z-index: 2;
    }
    
    .carousel {
      margin:0 auto;
      position: relative;
      width: 80vw;
      height: 25vw; 
    } 
    .intro_main_img{
      margin-top: 205px;
    }
    #title_text{
      text-align: center;
      font-size: 4.2vw;
      margin-top: 3.5rem;
      margin-bottom: 2.4rem;
    }

    .text{
      margin: 0 auto;
      font-size: 4.2vw;
    text-align: center;
    display: inline; 
    vertical-align: middle;
    border-right: .05em solid black;
    animation:  cursor 0.2s ease infinite;
    }
  .card1_img {
      float: right;
      max-width: 30vw;
      height:10vw;
      margin-top: 50px;
    }

  .intro_content{
    margin-left: -0.1vw;
    position:absolute;
    width: 1.5%;
    height: 50%;
    max-width: 10%;
    top: 24%;
    left: 50%;
    display: none;
  } 
  .card .additional2 {
  position: absolute;
  width: 30vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../이미지/intro_meat2.png");
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card .additional3 {
  position: absolute;
  width: 30vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../이미지/intro_meat3.png");
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card .additional4 {
  position: absolute;
  width: 30vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../이미지/intro_meat4.png");
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

/*intro 아래 내용*/
.intro_main_img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.intro_main_img2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.intro_main1{
  max-width: 100%;
}

.intro_main2{
  max-width: 70%;
  order: 2;
}

.parent{
  max-width: 100%;
}
.intro_div{
  max-width: 100%;
  float: right;
}

.intro_main_t1{
  max-width: 100vw;
  margin-top: 40px;
  font-size: 1rem;
}

.intro_main_t1_2{
  font-size: 1rem;
  margin-top: -120px;
}

.intro_main_t2{
  font-size: 0.5rem;
  margin-bottom: 15px;
}
 .footer {
    width: 100%; /* 넓이를 100%로 채우기 반응형 */
    background-color: white;
    padding: 10px;
}

.footer .col h1 {
  font-size: 5px;
  line-height: 5px;
  padding: 20px 0px 5px 0px;
  color: #000;
  /* footer 소제목 글씨 모양 */
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.footer .col ul li {
  color: #000;
  font-size: 2px;
  /*글자사이의 간격*/
  padding: 0px 0px 4px 0px; 
  cursor: pointer; /*cursor 마우스 커서 모양 뜨기 */
  /*마우스 커서 시 색상 변하는 속도 조절 */
  transition: 0.2s; 
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}

.contain{
  gap: 20px;
}

.first-img{
  height: 40vw;
  max-width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.484), rgba(0, 0, 0, 0.516) ),
    url("/이미지/introimg.jpg");
    background-size: cover;
}

.intro-text > pre{
  margin-right: 40px;
    color: #fff;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    text-overflow : ellipsis
}
}