/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* base */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
ul {
    list-style: none;
}
a{
    text-decoration-line: none;
}

body{
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: rgb(19, 19, 19);
}

p{
    font-size: 1em;
}

b{
    margin-left: 150px;
}
/* nav */
/* nav */
.container {
    margin-left: 1rem;
    margin-right: 1rem;
}

header{
    background-color: #000000;
}

nav {
    height: 44px; /* nav글자 높이 */
    /* 수평배열 */
    display: flex;
    justify-content: flex-end;
    align-items: center; /* nav글자 중앙정렬 */
}

nav a {
    color: #fff;
    font-size: 0.8rem; /* 글자 크기*/
}
    
.nav-toggle {
    /* toggle버튼이 보이지 않도록  */
    display: none;
    /* visibility: hidden; */
}

.nav-toggle i{
    color:#fff;
}

.nav-toggle {
    /* toggle버튼이 보이지 않도록  */
    display: none;
    /* visibility: hidden; */
}

.nav-toggle i{
    color:#fff;
}

.nav-list {
    /* 수평배열 */
    display: flex;
    column-gap: 5rem; /* 12px = nav글자사이의 거리 */
    margin-right: 100px;
}

.nav-link {
    display: block; /* a 태그가 한 줄 전체를 차지해서 링크가 동작하도록... */
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    text-align: center;
    background-color: #fff;
    color: #000;
    border-radius: 0.5rem;
}

.nav-list .nav-item:nth-child(5){
    text-align: center;
    background-color: #fff;
    color: #000;
    border-radius: 0.5rem;
}

.nav-item:nth-child(5) .nav-link{
  color: black;
}


/* 배너 글 */
#title_text{
    text-align: center;
    font-size: 2.2vw;
    margin-top: 4.5rem;
    margin-bottom: 6rem;
}

.text{
  margin: 0 auto;
  font-size: 2.4vw;
  text-align: center;
  display: inline; 
  vertical-align: middle;
  border-right: .05em solid black;
  animation:  cursor 0.2s ease infinite;
}

/* 기사 */
*{
    margin-inline-start: 0;
    padding: 0;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
    
}
.full-website{
    width: 90%;
    height: auto;
    border: 2px solid black;
    margin: 20px auto;
}
.full-website .ul{
  float: right;
    background-color: #444444;
    width: 50%;
    
}
.full-website .ul ul{
    float: right;
}
.full-website .ul ul li{
    display: inline-block;
}
.full-website .ul ul li a{
   color: white;
   text-decoration: none;
   font-size: 1rem;
   margin-right: 25px;
}
.full-website .ul ul li a:hover{
    background-color: #fff;
    color: #000;
}
.full-website .icon{
    float: left;
    width: 30%;
    height: 22px;
    padding-top: 31px;
    background-color: #444444;
    color: tomato;
    
    
}
.full-website .icon i{
   font-size: 40px;
   display: block;
   margin: -25px 20px;
}
.full-website .icon h2{
    display: inline;
    position: relative;
    top: -25px;
    left: 25%;
    font-size: 1.5rem;
}

.full-website .banner img{
    width: 100%;

}
.full-website .container{
    top: -50%;
}

.full-website .container img{
    width: 40%;
    height: auto;
    top: -40vw;
    float: left;
    margin-right: 3rem;
}
.full-website .container img:hover{
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
}
.full-website .container p{
    margin-top: 50px;
    margin-left: 10px;

}

/* Notice section */
.full-website .notice{
    width: 25%;
    border: 1.5px solid black;
    float: right;
    height: auto;
    margin-top: -10rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    padding-left: 0.5rem;
    background-color: #c8cecf;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

.notice-h2{
    font-size: 1rem;
}

.notice-h3{
    font-size: 0.1vw;
}

.full-website .mainblock{
    margin: 0 auto;
}

/* block1 section */
.full-website .mainblock .block1{
    width: 30%;
    height: 200px;
    background-color: #ecf0f1;
   text-align: center;
   float: left;
   margin-left: 4.5%;
   cursor: pointer;
}
.full-website .mainblock .block1 H1{
    background-color: rgb(221, 203, 203);
    width: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.full-website .mainblock .block1:hover{
    transform: scale(.8);
    transition: .5s;
}

/* block2 section */
.full-website .mainblock .block2{
    width: 30%;
    height: 200px;
    background-color: #ecf0f1;
    float: left;
    margin-left: 25px;
    cursor: pointer;
}
.full-website .mainblock .block2 H1{
    background-color: rgb(221, 203, 203);
    width: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.full-website .mainblock .block2:hover{
    transform: scale(.8);
    transition: .5s;
}

/* block3 section */
.full-website .mainblock .block3{
    width: 30%;
    height: 200px;
    background-color: #ecf0f1;
    float: left;
    margin-left: 25px;
    cursor: pointer;
    text-align: center;
}
.full-website .mainblock .block3 H1{
    background-color: rgb(221, 203, 203);
    width: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.full-website .mainblock .block3:hover{
    transform: scale(.8);
    transition: .5s;
}
.full-website .footer{
    background-color: #9c9c9c;
    width: 100%;
    float: right;
    margin-bottom: -80px;
    padding-bottom: 17px;
    margin-top: 20px;
    height: auto;
}

.full-website .footer .social{
    float: right;
    position: relative;
    top: 8px;
    right: 2%;
}
.full-website .footer .social i{
    height: 20%;
    width: 30%;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
}
.footer2{

}
.footer2 h2{
    width: 30%;
    padding-bottom: 40px;
    margin-bottom: -12px;
    float: left;
    color: rgb(0, 0, 0);
    cursor: pointer;
    
}
.footer2 h2 span{
    position: relative;
    top: 20px;
    left: 100px;
}
.full-website .footer-bottom{
    background-color: black;
    color: white;
    text-align: center;
    max-height: 20%;
}


.logo{
  background-image: url('../이미지/logo.jpg');
  background-size: cover;
}

.block1{
    background-image: url(../이미지/intro_meat1.png);
    background-size: cover;
    max-width: 30%;
    max-height: auto;
    border-radius: 0.5rem;
        opacity: 0.6;
}

.block2{
    background-image: url(../이미지/intro_meat2.png);
    background-size: cover;
    max-width: 25%;
    max-height: auto;
    border-radius: 0.5rem;
        opacity: 0.6;
}

.block3{
    background-image: url(../이미지/intro_meat3.png);
    background-size: cover;
    max-width: 30%;
    max-height: auto;
    border-radius: 0.5rem;
        opacity: 0.6    ;
}

.block1 p{
    margin-top: 28%;
    color:#fff;
    font-weight: 700;
    background-color: #444444;
}

.block2 p{
    margin-top: 32%;
    color: #fff;
    font-weight: 700;
    background-color: #444444;
}

.block3 p{
    margin-top: 28%;
    color: #fff;
    font-weight: 700;
    background-color: #444444;
}

h5{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

input{
        margin: 0 auto;
        width:200px;
        height:100px;
        font-size:20px;
}

.card{
    margin-top: 5rem;
    margin-left: 3rem;
}

.card-header{
    max-width: 100%;
}

.row justify-content-center{
    max-width: 100%;
    margin: 0 auto;
}

/* footer */
.footer {
  width: 100%; /* 넓이를 100%로 채우기 반응형 */
  background-color: white;
  padding: 10px 90px;
}

.contain {
  margin-left: 6vw;
  display: flex;
  justify-content: space-between;  
}

.footer .col {
  align-items: center;
  float: left;
  column-gap: 40px; /*글자사이의 거리 */
}

.footer .col .social {
  float: left;
}

.footer .col h1 {
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: #000;
  /* footer 소제목 글씨 모양 */
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.footer .col ul {
  list-style-type: none; /* • 모양 없애기 */
}

.footer .col ul li {
  color: #000;
  font-size: 0.8vw;
  /*글자사이의 간격*/
  padding: 6px 0px 6px 0px; 
  cursor: pointer; /*cursor 마우스 커서 모양 뜨기 */
  /*마우스 커서 시 색상 변하는 속도 조절 */
  transition: 0.2s; 
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}

.social ul li {
  display: inline-block;
}
 
i {
  font-size: 1.1rem;
}
/*마우스커서 올릴 시 글자의 색상이 변함 */
.footer .col ul li:hover {
  color: darkslateblue;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}

/*마우스커서 올릴 시 글자의 색상이 변함 */
.social ul li img :hover {
  color: #fff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}

.clearfix {
  clear: both;
}

/* mobile  */
@media screen and (max-width: 720px){
    /* 햄버거 메뉴 보이게 하기 */
    .nav-toggle {
        display: block; /*nav-toggle 즉, 밥 아이콘 제일 앞으로 */
        position: absolute; /*nav-logo 가운데 정렬 */
        cursor: pointer; /* 마우스 포인터: 손 => 토글에 가져 가면 마우스 커서 생성*/ 
    }
    .nav-logo {
        /*밥 아이콘을 중앙 정렬 시켜서 아래에 있는 메뉴토글 버튼 보이게*/
        margin: 0 auto; /*가운데 정렬*/
    }
    /* nav의 글자 햄버거 메뉴 안으로 수직으로 flex 방향 바꾸기 */
    .nav-list {
        flex-direction: column; /*수직*/
        position: absolute; /* 원래 있던 자리의 (0,0)위치 */
        left: 0; /* 왼쪽 정렬 */
        right: 0; /* 넓이를 100%로 채움 */
        top: 44px; /* nav높이 -> top높이 부분을 nav아래로 맞춘다. */
        width: 100%;
        background-color: #2f2f2f;
        /* display: none; toggle 버튼이 안 보이게 하도록 toggle nav바가  */
        /* 영역에 넘쳐나가게 되면 아예 보이지 않게 감추는 것 */
        height: 0; /*overflow: hidden과 함께 메뉴 안 보이게 하자*/
        overflow: hidden;
        transition: 0.3s;
    }
    .nav-item{
        /* nav 메뉴 글자 사이의 위아래 여백 주기*/
        padding: 0.5rem 0;
        border-bottom: 1px solid #fff;
        text-align: center; /* 글자 가운데 정렬 */
    }
    .show-menu {
        height: 180px;
    }
    .footer {
    width: 100%; /* 넓이를 100%로 채우기 반응형 */
    background-color: white;
    padding: 10px;
}

.footer .col h1 {
  font-size: 5px;
  line-height: 5px;
  padding: 20px 0px 5px 0px;
  color: #000;
  /* footer 소제목 글씨 모양 */
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.footer .col ul li {
  color: #000;
  font-size: 2px;
  /*글자사이의 간격*/
  padding: 0px 0px 4px 0px; 
  cursor: pointer; /*cursor 마우스 커서 모양 뜨기 */
  /*마우스 커서 시 색상 변하는 속도 조절 */
  transition: 0.2s; 
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.full-website .ul ul li a{
   color: white;
   text-decoration: none;
   font-size: 0.4rem;
   margin-right: 25px;
}

.notice-h2{
    font-size: 0.7rem;
}

.notice-h3{
    font-size: 0.7rem;
}
  }
